<%# Top %>
<div class="container">
  <div class="banner" id="top">
    <div class="container text-center">
      <h1 class="title-animation">Hello! <br class="br"> I'm Yong How!</h1>
      <p><span data-controller="typed-js"></span></p>
      <%= link_to "Download", download_path, class: "btn btn-gradient draw", target: "_blank" %>
    </div>
    <div class="contact-links">
      <ul>
        <li>
          <a href="https://github.com/yhfung-git" target="_blank"><i class="fab fa-github"></i></a>
        </li>
        <li>
          <a href="mailto:contact@yhfung.click?subject=yhfung.click | Contact Form" target="_blank"><i class="fa-solid fa-envelope"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/yhfung/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-center flex-column align-items-center">
    <img src="<%= asset_path("Myself.jpg")%>" style="margin: 15px 0 15px 0; height: 250px; width: 250px; border-radius: 50%;">
      <div class="mouse mt-4"></div>
      <p class="mouse-p">Scroll</p>
    </div>
  </div>

  <hr class="mt-5" style="color: #1BA098;">

  <%# Projects %>
  <div>
    <h1 class="text-center title-animation mt-5" id="Projects">Projects</h1>
    <div class="projects-container mb-5">
      <div class="logo">
        <%= link_to "https://www.speakitout.help/", target: "_blank" do %>
          <img src="https://www.speakitout.help/assets/nav_bar-3f593ad566affb8edb65bb9ee16f549e63745ac29c01fd491fa728c74f089249.png" alt="Speakitout" class="project-image">
        <% end %>
        <p>Spe@kitOut<br><small><em>Le Wagon</em></small></p>
      </div>
      <div class="logo">
        <%= link_to "https://yhfung-git.github.io/rock-paper-scissors/", target: "_blank" do %>
          <%= image_tag("rock-paper-scissors.jpg", alt: "rock-paper-scissors", class:"project-image") %>
        <% end %>
        <p>Rock-Paper-Scissors<br><small><em>The Odin Project</em></small></p>
      </div>
      <div class="logo">
        <%= link_to "https://yhfung-git.github.io/etch-a-sketch/", target: "_blank" do %>
          <%= image_tag("etch-a-sketch.png", alt: "etch-a-sketch", class:"project-image") %>
        <% end %>
        <p>Etch-a-Sketch<br><small><em>The Odin Project</em></small></p>
      </div>
      <div class="logo">
        <%= link_to "https://yhfung-git.github.io/react-giphy-challenge/", target: "_blank" do %>
          <%= image_tag("gif.png", alt: "react-giphy-challenge", class:"project-image", style:"background-color:white") %>
        <% end %>
        <p>React-Giphy<br><small><em>Le Wagon</em></small></p>
      </div>
      <div class="logo">
        <%= link_to "https://yhfung-git.github.io/redux-chat-challenge/", target: "_blank" do %>
          <%= image_tag("chatbox.png", alt: "redux-chat-challenge", class:"project-image", style:"background-color:white") %>
        <% end %>
        <p>Redux-Chatbox<br><small><em>Le Wagon</em></small></p>
      </div>
    </div>
  </div>

  <hr style="color: #1BA098;">

  <%# About %>
  <div class="banner" style="padding-top: 0;">
    <div class="skills">
      <%= render "shared/hard_skills" %>
      <div class="row my-5">
        <div class="col-12 col-md-6 col-lg-4 skills-content" id="soft-skills">
          <h1 class="mt-3">soft skills</h1>
          <ul>
            <li>Team Player</li>
            <li>Adaptability</li>
            <li>Organization</li>
            <li>Detail-oriented</li>
            <li>Versatility</li>
            <li>Autonomy</li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-4 skills-content" id="languages">
          <h1 class="mt-3">languages</h1>
          <ul>
            <li>Chinese</li>
            <li>English</li>
            <li>French</li>
            <li>Malay</li>
            <li>Hakka</li>
            <li>Cantonese</li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-4 skills-content" id="hobbies">
          <h1 class="mt-3">hobbies</h1>
          <ul>
            <li>Sports</li>
            <li>Travel</li>
            <li>Photography</li>
            <li>Video Editing</li>
          </ul>
        </div>
      </div>
    </div>
    <h1 class="text-center title-animation my-5">About Me</h1>
    <%= render "shared/timeline" %>
  </div>

  <hr class="mt-5 mb-0" style="color: #1BA098;">

</div>
