<%# Top %>
<div class="container">
  <div class="banner" id="top">
    <div class="container text-center">
      <h1>Hello! I'm Yong How!</h1>
      <p><span data-controller="typed-js"></span></p>
      <%= link_to "Download", download_path, class: "btn btn-gradient draw", target: "_blank" %>
    </div>
    <div class="d-flex justify-content-center flex-column align-items-center" style="padding-top: 100px;">
      <div class="mouse"></div>
      <p class="mouse-p">Scroll</p>
    </div>
  </div>

  <%# About %>
  <div class="banner">
    <h1 class="text-center" id="About">About Me</h1>
    <%= render "shared/timeline" %>
    <div>
      <%= render "shared/hard_skills" %>
      <div id="soft-skills">soft-skills</div>
      <div id="languages">languages</div>
      <div id="hobbies">hobbies</div>
    </div>

    <%# Service %>
    <%# <div id="faq-wrapper" class="about-service">
      <div class="faq-group">
        <div class="slide-left">
            <div>service</div>
        </div>
        <hr>
      </div>
      <div class="slide-left">
        <div  class="faq">
          <ul class="faq-accordion">

            <li>
              <a href="#">insane ipsum</a>
              <ul class="faq-content">
                <li>
                  <div>
                    <p>Bacon ipsum dolor sit amet ham beef ribs pork, sirloin tail meatball filet mignon pancetta strip steak. T-bone swine turducken fatback beef ribs andouille meatball. Corned beef short ribs ribeye, hamburger brisket venison capicola boudin filet mignon drumstick shankle bacon beef. Shoulder shank filet k.
                    </p>
                  </div>
                </li>
              </ul>
            </li>
            <!--Bacon ipsum-->

            <li>
              <a href="#">Carey ipsum</a>
              <ul class="faq-content">
                <li>
                  <div>
                    <p>Alrighty then it's because i'm green isn't it! here she comes to wreck the day. alrighty then kinda hot in these rhinos. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter. your entrance was good, his was better. we're going for a ride on the information super highway. we're going for a ride on the information super highway. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. brain freeze. we got no food we got no money and our pets heads are falling off! haaaaaaarry.
                    </p>
                  </div>
                </li>
              </ul>
            </li>
            <!--Carey ipsum-->
          </ul>
        </div>
      </div>
    </div> %>

    <%# Installation %>
    <%# <div class="about-installation faq-hide">

      <div class="faq-group">
        <div class="slide-left">
          <div>installation</div>
        </div>
        <hr>
      </div>

      <div class="slide-left">
        <ul class="faq-accordion">
          <li>
            <a href="#">Bacon ipsum</a>
            <ul class="faq-content">
              <li>
                <div>
                  <p>Bacon ipsum dolor sit amet ham beef ribs pork, sirloin tail meatball filet mignon pancetta strip steak. T-bone swine turducken fatback beef ribs andouille meatball. Corned beef short ribs ribeye, hamburger brisket venison capicola boudin filet mignon drumstick shankle bacon beef. Shoulder shank filet mignon, kevin meatball beef ribs short loin shankle kielbasa jowl pancetta. Biltong shank tri-tip prosciutto sirloin pastrami. Turkey swine pork loin ground round pig chicken kielbasa sausage kevin ham hock.
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <!--Bacon ipsum-->

          <li>
            <a href="#">Carey ipsum</a>
            <ul class="faq-content">
              <li>
                <div>
                  <p>Alrighty then it's because i'm green isn't it! here she comes to wreck the day. alrighty then kinda hot in these rhinos. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter. your entrance was good, his was better. we're going for a ride on the information super highway. we're going for a ride on the information super highway. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. brain freeze. we got no food we got no money and our pets heads are falling off! haaaaaaarry.
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <!--Carey ipsum-->
        </ul>
      </div>
    </div> %>

  </div>

  <%# Projects %>
  <div class="banner">
    <h1 class="text-center" id="Projects">Projects</h1>
    <div class="projects-container">
      <div>
        <%= link_to "https://francalaysian.com/", target: "_blank" do %>
          <img src="https://francalaysian.com/wp-content/uploads/2021/04/LG_Francalaysian.png" alt="Francalaysian" class="project-image">
        <% end %>
      </div>
      <div>
        <%= link_to "https://www.speakitout.help/", target: "_blank" do %>
          <img src="https://www.speakitout.help/assets/nav_bar-3f593ad566affb8edb65bb9ee16f549e63745ac29c01fd491fa728c74f089249.png" alt="Speakitout" class="project-image">
        <% end %>
      </div>
    </div>
  </div>
</div>
